<form class="ui segment form" action="/memberdashboard/addassessment" method="POST">
  <h3 class="ui header"><i class="plus icon"></i> Add New Assessment </h3>
<!-- <p><i>Note - the current date and time will be automatically added</i></p> -->
<div class="fields">
  <div class="field">
  <input placeholder="Date (YY/MM/DD)" type="text" name="date">
  </div>
  <div class="field">
  <input placeholder="Weight (kg)" type="number" step="0.01" name="weight">
  </div>
  <div class="field">
  <input title="Chest (cm)" placeholder="Chest (cm)" type="number" step="0.01" name="chest">
  </div>
  <div class="field">
  <input title="Thigh (cm)" placeholder="Thigh (cm)" type="number" step="0.01" name="thigh">
  </div>
  <div class="field">
  <input title="Upper Arm (cm)" placeholder="Upper Arm (cm)" type="number" step="0.01" name="upperArm">
  </div>
  <div class="field">
  <input title="Waist (cm)" placeholder="Waist (cm)" type="number" step="0.01" name="waist">
  </div>
  <div class="field">
  <input title="Hips" placeholder="Hips (cm)" type="number" step="0.01" name="hips">
  </div>
  </div>
  <button class="ui blue submit button">Add Assessment</button>
</form>