<form class="ui segment form" action="/memberdashboard/addgoal" method="POST">
    <h3 class="ui header"><i class="plus icon"></i> Add New Goal </h3>
    <div class="fields">
        <div class="field">
            <input type="date" name="date">
        </div>
        <div class="field">
            <select class="ui dropdown" name="targetArea">
                <option value="Weight">Weight (kg)</option>
                <option value="Chest">Chest (cm)</option>
            </select>
        </div>
        <div class="field">
            <input type="number" step="0.01" name="targetMeasurement" placeholder="0.00">
        </div>
        <div class="field">
            <button class="ui blue submit button">Add Goal</button>
        </div>
    </div>
</form>