<section class="ui horizontal segments">
    <div class="ui segment">
        <h3 class="ui centered header">
            <i class="ui big yellow clock icon "></i>Open Goals: {{goalStats.openGoals}}
        </h3>
    </div>
    <div class="ui segment">
        <h3 class="ui centered header">
            <i class="ui big green check icon "></i> Achieved Goals: {{goalStats.achievedGoals}}
        </h3>
    </div>
    <div class="ui segment">
        <h3 class="ui centered header">
            <i class="ui big red times icon"></i>Missed Goals: {{goalStats.missedGoals}}
        </h3>
    </div>
</section>

