<section class="ui segment">
    <header class="ui header">
        <i class="green trophy icon"></i></i> Goals
    </header>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Target Area</th>
            <th>Target Measurement</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {{#each goals}}
            <tr>
                <td class="ui item"> {{date}} </td>
                <td class="ui item"> {{targetArea}} </td>
                <td class="ui item"> {{targetMeasurement}} </td>
                <td class="ui item"> {{status}} </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>