{{> membermenu id="memberdashboard"}}

<section class="ui segment">
    {{> memberstats}}
    <div class="ui horizontal segments">
        {{> add-goal }}
        {{> add-assessment-form}}
    </div>
    {{> goals-table}}
    {{> assessments-table}}

</section>